<div class="card" style="margin-top: 50px;">
    <p-table [value]="skippers" selectionMode="single" [(selection)]="selectedSkipper" dataKey="id" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Skippers
                <p-button icon="pi pi-refresh"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Εικόνα</th>
                <th>Όνομα</th>
                <th>Περιοχή</th>
                <th>Email</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-skipper>
            <tr [pSelectableRow]="skipper" (click)="viewProfile($event)">
                <td><img [src]="skipper.attributes.imageUrl" [alt]="skipper.name" width="120" class="shadow-4" /></td>
                <td class="text-2xl text-900">{{skipper.attributes.surname}} {{skipper.attributes.name}}</td>
                <td class="text-2xl text-900">{{skipper.attributes.region}}</td>
                <td class="text-2xl text-900">{{skipper.attributes.email}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Στο σύνολο βρέθηκαν {{skippers ? skippers.length : 0 }} skippers.
            </div>
        </ng-template>
    </p-table>
</div>