<!-- <div class="flex">
    <div class="flex-1 h-4rem bg-primary font-bold text-center p-4 border-round">
        <p-button label="Είσοδος" [rounded]="true" routerLink="/skippers"></p-button>
    </div>
    <div class="flex-1 h-4rem bg-primary font-bold text-center p-4 border-round mx-4">
        <p>
            Professional Network Manager
        </p>
    </div>
</div> -->
<div class="grid">
    <div class="col left-column">
        <div class="text-center font-bold">
            <p-button label="Είσοδος" [rounded]="true" routerLink="/skippers"></p-button>
        </div>
    </div>
    <div class="col right-column bg-primary">
        <div class="text-center font-bold">
            <h3>Professional Network Manager</h3>
        </div>
        <div class="font-bold">
            <ul style="list-style: none;">
                <li>- A</li>
                <li>- B</li>
            </ul>
        </div>
    </div>
</div>