<!-- <div class="flex">
    <div class="flex-1 h-4rem bg-primary font-bold text-center p-4 border-round">
        <p-button label="Είσοδος" [rounded]="true" routerLink="/skippers"></p-button>
    </div>
    <div class="flex-1 h-4rem bg-primary font-bold text-center p-4 border-round mx-4">
        <p>
            Professional Network Manager
        </p>
    </div>
</div> -->
<div class="grid" style="width: 100vw;">
    <div class="col left-column">
        <div class="text-center font-bold">
            <h3>Professional Network Manager</h3>
            <ul style="list-style: none;margin: 0;padding: 0;">
                <li>Αναζήτηση</li>
                <li>Εύρεση</li>
            </ul>
        </div>
        <div class="text-center font-bold" style="margin-top: 100px;">
            <p-button label="Είσοδος" routerLink="/skippers"></p-button>
        </div>
    </div>
    <!-- <div class="col right-column">
        <div class="text-center font-bold">
            <h3>Professional Network Manager</h3>
            <ul style="list-style: none;margin: 0;padding: 0;">
                <li>Αναζήτηση</li>
                <li>Εύρεση</li>
            </ul>
        </div>
    </div> -->
</div>