<div class="surface-section px-4 py-8 md:px-6 lg:px-8 mt-8">
    <div class="text-700 text-center">
        <div class="text-blue-600 font-bold mb-3">POWERED BY PNM</div>
        <div class="text-900 font-bold text-5xl mb-3 mt-5">Skipper World</div>
        <div class="text-700 text-2xl mb-5 mt-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit numquam eligendi quos.</div>
        <button [routerLink]="['/skippers']" pButton pRipple label="Είσοδος" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap mt-8"></button>
    </div>
</div>